REDIS_HOST = '{{ queue_host }}'
REDIS_PASSWORD = '{{ queue_password }}'

QUEUES = ['{{ inventory_hostname }}']

DEVICE = '{{ device }}'

THERMAL_MODE = {{ thermal_mode }}
TEMPERATURE = {{ temperature }}
